@import url("https://fonts.googleapis.com/css?family=Ubuntu+Condensed");


*
{
	font-family:  sans-serif, Verdana, Arial, Trebuchet;
}

body
{
	background-color: rgb(239, 231, 217);

}
img
{
	width: 100%;
	max-height: 100%;
}

 .groslogo
 {
 	width: 10%;
 	z-index: 2;
 }

 .barreheader
 {
 	width: 80%;
 	display: flex;
 	justify-content: flex-start;
 	flex-wrap: wrap;
 	margin-left: -2%;
 	background: linear-gradient(to top, rgb(185,36,15) 0%,rgb(190,41,20) 10%,rgb(210,61,40) 100%);
 	border: solid rgb(225,76,55) 2px ;
 	border-top-right-radius: 20px;
 	border-bottom-right-radius: 20px;
 }

 header
 {
 	width: 100%;
 	margin-left: 2.5%;

 	display: flex;
 	justify-content: flex-start;
 	align-content: center;
 	align-items: center;

 }

 a
 {
 	text-decoration: none;
 }

 .lienheader
 {
 	padding: 10px;
 	background: linear-gradient(to top, rgb(185,36,15) 0%,rgb(190,41,20) 10%,rgb(210,61,40) 100%);
 	color: white;
 	font-size: 1.5em;
 	border-left: solid rgb(225,76,55) 2px ;
 	border-right: solid rgb(225,76,55) 2px ;

 	z-index: 1;
 }
 .vide
 {
 	padding: 10px;
 	width: 1%;
 	height: 1em;
 }


 .lienheader:hover
 {
 	background: linear-gradient(to top, rgb(220,71,50) 0%,rgb(225,76,55) 10%,rgb(245,96,75) 100%);

 }


 .page
 {
 	width: 80%;
 	margin-left: 10%;
 	margin-right: 10%;
 	/*background-color: white;
 	border : solid 2px rgb(100,100,100);
 	border-radius: 10px;
 	min-height: 400px;*/
 }

 h1
 {
 	font-size: 2em;
 	text-align: center;
 	text-decoration: underline;
 	color: rgb(200,51,30);
 	letter-spacing: -2px;
 	margin: 0;
 	margin-bottom: 0.67em;
 }

h2
{
	font-size: 1em;
	text-align: center;
	color: rgb(96, 25, 13);
	margin: 0;
	margin-bottom: 0.67em;
}
.centreur
{
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: center;
}
 .bouton
 {
 	font-size: 1.25em;
 	padding: 10px;
 	background: linear-gradient(to top, rgb(185,36,15) 0%,rgb(190,41,20) 10%,rgb(210,61,40) 100%);
 	color: white;
 	border-radius: 0.5em;
 	border : solid 1px rgb(165,16,0);
 	cursor: pointer;
 	-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Trop récent, mais dans le futur, il seras universel, donc gardez le en poche */
 }

 .bouton:hover
 {
 	background: linear-gradient(to top, rgb(220,71,50) 0%,rgb(225,76,55) 10%,rgb(245,96,75) 100%);
}
 .erreur
 {
 	color: red;
 }

 .C_centre
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
}

 .C_bouton
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: left;
	align-items: left;
	text-align: left;
	border-left: solid 1px white;
	padding-left: 5px;
	-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Trop récent, mais dans le futur, il seras universel, donc gardez le en poche */

}

.C_tableau
{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	align-content: center;

}

.L_tableau
{
	display: flex;
	border: solid 1px 0 1px 0 rgb(189, 181, 167);
	width:  100%;
}

.head_tableau
{
	background: linear-gradient(to top, rgb(185,36,15) 0%,rgb(190,41,20) 10%,rgb(210,61,40) 100%);
	color: white;
	padding: 10px;
	width:  100%;
	font-size: 1.3em;
}

.head_tableau_stats
{
	background: linear-gradient(to top, rgb(185,36,15) 0%,rgb(190,41,20) 10%,rgb(210,61,40) 100%);
	color: white;
	padding: 10px;
	width:  100%;
	font-size: 1.2em;
	white-space:nowrap;
}

.case_tableau
{
	display: flex;
	justify-content: center;
	padding: 10px;
	width:  100%;
	color: black;
	/*white-space:nowrap;
	width: 100%;*/
}

.color_1
{
	background: white;
	color: black;
}

.color_2
{
	background: rgb(219, 211, 197);
	color: black;
}

.color_3
{
	background: #9CED8C;
	color: black;
}
.color_4
{
	background: #60BA4E;
	color: black;
}

.info
{
	font-size: 1.5em;
 	text-align: center;
 	color: rgb(200,51,30);
 	letter-spacing: -1px;
 	margin: 0;
 	margin-bottom: 0.3em;
 	white-space:nowrap;
}

.formulaire
{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	padding: 15px;
	background-color: white;

	border : solid 2px black;
}
.L
{
	display: flex;
	width: 100%;
	align-content: center;
	align-items: center;
}

.L_center
{
	display: flex;
	justify-content: center;
	width: 100%;
}

.L_right
{
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

.L_left
{
	display: flex;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
	width: 100%;
}

.L_space_a
{
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.L_space_b
{
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.item_formulaire
{
	font-size: 1.5em;
	color: rgb(200,51,30);
 	letter-spacing: -1px;
 	margin-right: 10px;
 	white-space:nowrap;
}

.item_formulaire2
{
	font-size: 1em;
	color: rgb(170,21,0);
 	letter-spacing: -1px;
 	margin-right: 10px;
 	white-space:nowrap;
}

.clickable
{
	cursor: pointer;
	-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Trop récent, mais dans le futur, il seras universel, donc gardez le en poche */
}

.inventaire
{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.item_inventaire
{
	width: 200px;
	height: 200px;
	padding: 10px;
	margin: 10px;
	/*border:  solid 2px black;*/
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	white-space:nowrap;
}

.info_inventaire
{
	font-size: 1.2em;

}

.titre_item
{
	font-size: 1.5em;

}

.nom_item
{
	font-size: 1.5em;
	text-overflow: scale;
	max-width: 100%;
}

.select_prix
{
	width: 30px;
	height: 30px;
	border: solid 1px white;
	border-radius: 30px;
	font-size: 2em;

	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	align-content: center;
}

.moins
{
	background-color: red;
}

.plus
{
	background-color: green;
}

.prix
{
	font-size: 2em;

}



.biere_arome
{
	background: linear-gradient(to top, #80ffbf 0%,#00e673 90%, #00cc66 100%);
	color: black;
}

.biere_rouge
{
	background: linear-gradient(to top, #cc0000 0%,#800000 90%,  #660000 100%);
	color: white;
}

.biere_blanche
{
	background: linear-gradient(to bottom, #ffffb3 0%,#ffffcc 10%, #ffffe6 100%);
	color: black;
}

.biere_brune
{
	background: linear-gradient(to top, #91613d 0%,#80231b 10%, #3b1512 100%);
	color: white;
}

.biere_blonde
{
	background: linear-gradient(to top, #e5b524 0%,#fecd1f 10%, #d38b29 100%);
	color: black;
}

.biere_ambre
{
	background: linear-gradient(to top, #ffd409 0%,#f89920 10%, #e84c26 100%);
	color: black;
}

.vin
{
	background: linear-gradient(to top, #33001a 0%,#4d0026 10%, #800040 100%);
	color: white;
}

.cidre
{
	background: linear-gradient(to top, #5B1004 0%,#F26B02 10%, #F8DD00 100%);
	color: white;
}

.soft
{
	background: linear-gradient(to top, #ffa64d 0%,#ff9933 10%, #ff8000 100%);
	color: white;
}

.kro
{
	background: linear-gradient(to top, #9cbb1f 0%,#708b3e 10%, #426606 100%);
	color: white;
}

.autre
{
	background: linear-gradient(to top,  #001a66 0%,#002080 10%, #3333ff 100%);
	color: white;
}

.layer
{
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	background-color: rgba(0,0,0,0.5);
	z-index: 6;
}
.layer2
{
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	/*background-color: rgba(0,0,0,0.9);*/
	z-index: 7;
	overflow: auto;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: center;
}

.layer_window
{
	background-color: white;
	padding: 50px;
	width: 500px;
	border-radius: 20px;
}

input {
  float:right;
}

.auto_c
{
	display: flex;
	flex-direction: column;
	background-color: white;
	border : solid 1px black;
	padding: 5px;
	margin: 5px;
	margin-top: 30px;
	border-radius: 2px;
	position: absolute;
	z-index: 4;
	/*left: 8.2em; */
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 210px;
}

.auto_c_value
{
	cursor: pointer;
	width: 100%;
	text-align: left;
}

.auto_c_value:hover
{
	background-color: #b3daff;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Trop récent, mais dans le futur, il seras universel, donc gardez le en poche */
}

.info_user
{
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: left;
	padding: 10px;
	border-radius: 10px;
}

.no_text_wrap
{
	white-space:nowrap;
}

.vert
{
 	/*background: linear-gradient(to top, #33ff33 0%,#4dff4d 10%, #99ff99 100%);*/
 	/*background: linear-gradient(to top, #33cc00 0%,#39e600 10%, #40ff00 100%);*/
 	color: rgb(200,51,30);
}

.orange
{
	background: linear-gradient(to top, #ffbf00 0%,#ffcc33 10%, #ffdf80 100%);

}

.rouge
{
	background: linear-gradient(to top, #800000 0%,#b30000 10%, #ff0000 100%);
	color: white;
}

.accordion
{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
	border: solid 2px 0 2px 0 grey;
	color: white;
	padding: 5px;
	cursor: pointer;
	background: linear-gradient(to top, rgb(185,36,15) 0%,rgb(190,41,20) 10%,rgb(210,61,40) 100%);
	font-size: 1.4em;
	-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Trop récent, mais dans le futur, il seras universel, donc gardez le en poche */



}

.accordion:hover
{
	background: linear-gradient(to top, rgb(220,71,50) 0%,rgb(225,76,55) 10%,rgb(245,96,75) 100%);
}

 .selected
 {
 	background: linear-gradient(to top, rgb(220,71,50) 0%,rgb(225,76,55) 10%,rgb(245,96,75) 100%);

 }

 .screen
 {
 	padding: 10px;
 	width: 100%;
 	display: flex;
 	flex-direction: column;
 	justify-content: flex-start;
 }

 .classement
 {
	 width: 100%;
	 display: flex;
	 flex-direction: column;
	/* margin: 20px;
	 border: solid black 2px;
	 border-radius: 10px;*/
 }


